/*Импорт стилей, шрифтов и иконок*/
@import url("https://marksheet.io/css/reset.css");/*Сброс CSS*/
@import url("");/*Дополнительные шрифты из Google Font*/
/*Базовые стили*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*контейнер для содержимого страницы*/
.container {
    display: flex
    width: 100%;
    max-width: 1200px; /*Максимальная ширина может иметь другое значение*/
    margin: 0 auto;
    padding: 0 15px;
}
/*Предустановки*/
/*Предусьтановки для установки flex элементов: row - горезонтально, collumn - вертекально*/
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Гибкая верстка*/
img{
    width: 100%;
    max-width: 100%;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
.col-4{
    flex: 4;
}
.col-5{
    flex: 5;
}
.col-6{
    flex: 6;
}
@media(max-width: 800px){
    .container{
        flex-direction: column;
    }
}
/*Шапка сайта*/
header{
    flex: 0 0 auto;
    background-color: #000;
    height: 100px;
    color: #fff;
}
header > duv.container{
    background-color: #fff;
}
header ul li{
    margin: 20px;
}
footer nav ul{
    margin-right: 15px;
}
/*Основное содержимое свайта*/
main{
    display:flex;
    flex: 1 0 auto;
    background-color: #000;
    height: 200px;
}
main > div.container{
    flex: 1 0 auto;
    background-color: #fff;
}
section{
    flex: 3 0 auto;/* 3 - это ширена столбца*/
    padding: 0 15pt;
}
aside{
    flex: 1 0 auto;/* 1 - это ширена столбца*/
    padding: 0 15pt;
}
/*Подвал*/
footer{
    flex: 0 0 auto;
}
footer > duv.container{
    background-color: #fff;
}