/*Импорт стилей, шрифтов и иконок*/
/*Сброс CSS*/
@import url("https://marksheet.io/css/reset.css");
/*А может быть лудше Normalize*/
@import url("https://github.com/necolas/normalize.css/blob/master/normalize.css");
@import url("");/*Дополнительные шрифты из Google Font*/
/*Базовые стили*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*контейнер для содержимого страницы*/
.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /*Максимальная ширина может иметь другое значение*/
    margin: 0 auto;
}
h1 {
	font-size: 2.4em;
	padding: .8em 0 1.2em 0;
}
h2 {
	font-size: 2.2em;
	padding: .8em 0 1em 0;
}
h3 {
	font-size: 2em;
	padding: .8em 0 .8em 0;
}
h4 {
	font-size: 1.8em;
	padding: .8em 0 .6em 0;
}
h5 {
	font-size: 1.6em;
	padding: .8em 0 .6em 0;
}
h6 {
	font-size: 1.4em;
	padding: .8em 0 .6em 0;
}
/*Предустановки*/
/*Предусьтановки для установки flex элементов: row - горезонтально, collumn - вертекально*/
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Гибкая верстка*/
img{
    width: 100%;
    max-width: 100%;
}
.col-1{
    display: flex;
    flex: 1;
}
.col-2{
    display: flex;
    flex: 2;
}
.col-3{
    display: flex;
    flex: 3;
}
.col-4{
    display: flex;
    flex: 4;
}
.col-5{
    display: flex;
    flex: 5;
}
.col-6{
    display: flex;
    flex: 6;
}
@media(max-width: 800px){
    .container{
        flex-direction: column;
    }
}
/*.b-bottom {
	border-bottom: 1px solid #e5e5e5;
}*/
/*Шапка сайта*/
header{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: #808080;
    height: 100px;
    color: #C0C0C0;
}
header > div.container{
	height: 100%;
	align-items: center;
}
header ul li{
    margin-right: 20px;
}
header .logo{
	width: 100px;
}
/*Основное содержимое свайта*/
section {
    flex: 1 0 auto;
}
section > div.container {
    flex: 1 0 auto;
}
/*Подвал*/
footer{
    flex: 0 0 auto;
	background-color: #000;
	height: 200px;
    color: #fff;
}
footer > div.container{
    height: 100%;
    padding: 10px 0;
	flex-direction: row;
}
footer nav ul{
    margin-right: 30px;
}
footer li {
	line-height: 2em;
}
header a,
footer a {
    color: #fff;
    text-decoration: none;
}
header a:hover,
footer a:hover {
    text-decoration: underline;
}
