/*Импорт стилей, шрифтов и иконок*/
/*Сброс CSS*/
@import url("https://marksheet.io/css/reset.css");
/*А может быть лудше Normalize*/
@import url("https://github.com/necolas/normalize.css/blob/master/normalize.css");
@import url("");/*Дополнительные шрифты из Google Font*/
/*Базовые стили*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*контейнер для содержимого страницы*/
.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /*Максимальная ширина может иметь другое значение*/
    margin: 0 auto;
}
h1 {
	font-size: 2.4em;
	padding: .8em 0 1.2em 0;
}
h2 {
	font-size: 2.2em;
	padding: .8em 0 1em 0;
}
h3 {
	font-size: 2em;
	padding: .8em 0 .8em 0;
}
h4 {
	font-size: 1.8em;
	padding: .8em 0 .6em 0;
}
h5 {
	font-size: 1.6em;
	padding: .8em 0 .6em 0;
}
h6 {
	font-size: 1.4em;
	padding: .8em 0 .6em 0;
}
button {
	height: 50px;
	display: flex;
	flex-direction: row;
	background-color: yellow;
	color: black;
	border-radius: 30px;
	text-decoration: none !important;
}
/*Предустановки*/
/*Предусьтановки для установки flex элементов: row - горезонтально, collumn - вертекально*/
.row{
	display: flex;
    flex-direction: row;
}
.column{
	display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Гибкая верстка*/
img{
    width: 100%;
    max-width: 100%;
}
.col-1{
    display: flex;
    flex: 1;
}
.col-2{
    display: flex;
    flex: 2;
}
.col-3{
    display: flex;
    flex: 3;
}
.col-4{
    display: flex;
    flex: 4;
}
.col-5{
    display: flex;
    flex: 5;
}
.col-6{
    display: flex;
    flex: 6;
}
@media(max-width: 800px){
    .container{
        flex-direction: column;
    }
	.moon-toor {
		flex-direction: column-reverse;
	}
	.cont-position {
		flex-direction: column;
	}
}
/*Шапка сайта*/
header{
    display: flex;
    flex: 0 0 auto;
	background-color: #696969;
	color: #DCDCDC;
}
header > div.container {
	height: 100%;
	align-items: center;
}
.contacts {
	text-align: right;
}
header ul li{
	margin-left: 20px;
}
/*Основное содержимое свайта*/
section > div {
	margin: 100px;
	align-items: center, center;
}
.moon-toor {
	flex: 1 0 auto;
	background-color: #696969;
	color: #FFFFFF;
}
.moon-and-rocket {
	height: 500px;
	width: 500px;
}
.tuor-cont {
	margin: 50px;
	align-items: center, center;
}
button > img {
	height: 50px;
	width: 50px;
}
.advantages {
	flex: 1 0 auto;
	background-color: #000000;
	color: #DCDCDC;
}
.aduan-li {
	margin: 0 50px;
}
.content {
	flex: 1 0 auto;
	background-color: #FFFFFF;
	color: #000000;
}
.cont-position {
	margin: 50px;
	align-items: center, center;
}
/*Подвал*/
footer{
    display: flex;
    flex: 0 0 auto;
}